
#exception006 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

#exception006 .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px #12121280;
  border-radius: 15px;
  background: #ffffff1b;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ffffff80;
  border-left: 1px solid #ffffff80;
  backdrop-filter: blur(5px);
}

#exception006 .card .item {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

#exception006 .card:hover .item {
  transform: translateY(0px);
  opacity: 1;
}

#exception006 .card .item #exception003 {
  position: absolute;
  top: -80px;
  right: 20px;
  font-size: 8em;
  pointer-events: none;
  color: #ffffff0d;
}

#exception006 .card .item #exception004 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

#exception006 .card .item p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
